<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Strony głównej</title>
</head>
<body>
<nav>
    <div class="space-x-2 grid grid-cols-3 justify-items-center">
        <a href={{ action }}>{{ actionMessage }}</a>
        <a href="/nutriLink/sign_up/">Sign Up</a>
        <a href="/nutriLink/{{ user_id }}/user/">My Profile</a>
    </div>
</nav>
{% if recipe_list %}
    <ul>
    {% for recipe in recipe_list %}
        <li><a href="{% url 'nutriLink:recipe' recipe.id %}">{{ recipe.recipe_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No recipes are available.</p>
{% endif %}
<br>
Zalogowano jako {{ user }}<br>
<br>


</body>
</html>