{% extends 'nutriLink/base.html' %}

{% block title %} Strona główna {% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-6 bg-gray-100 rounded-xl">

        <div class="grid grid-cols-2 gap-3">
        
            <select name="dietlist" form="filter" class="py-2 px-2 rounded-xl">
                <option>--wybierz dietę--</option>
                {% for diet in diets %}
                    <option value="{{ diet.diet_name }}">{{ diet.diet_name }}</option>
                {% endfor %}
            </select>
        
            <form method="get" action="{% url 'nutriLink:index' %}" id="filter">
                <button class="mt-2 py-4 px-8 text-lg bg-gray-500 text-white rounded-xl">Filtruj</button>
            </form>
{#            <div>{{ query }}</div>#}
        </div>
    </div>
    
    <div class="mt-6 px-6 py-6 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Przepisy</h2>
            
        <div class="grid grid-cols-3 gap-3">
            {% for item in page_obj %}
                <div>
                    <a href="{% url 'nutriLink:recipe' item.id %}">
                        <div class="p-6 bg-white rounded-t-xl">
                            <h2 class="text-2xl font-semibold">{{ item.recipe_name }}</h2>
                        </div>
                        <div>
                            <img src="{{ item.picture.url }}" class="rounded-xl" width="500px">
                        </div>
                    </a>
                </div>
          {% endfor %}
        </div>
    
        <div class="pagination">
            <span class="step-links">
            <p class="text-sm">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Poprzednia strona <<</a>
                {% else %}
                    <a>Poprzednia strona <<</a>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <a href="#">{{ i }} </a>
                    {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">>> Następna strona</a>
                {% else %}
                    <a>>> Następna strona</a>
                {% endif %}
            </p>
            </span>
        </div>
    </div>

{% endblock %}