<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
<h1>{{ recipe.recipe_name }}</h1>
{#<div>#}
{#    <img src="{{ recipe.picture.url }}">#}
{#</div>#}
{#{% csrf_token %}#}
<fieldset>
    <legend><h1>{{ recipe.recipe_name }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in recipe.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
<br>
    {% endfor %}
</fieldset>

</body>
</html>