<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Zarejestruj się</title>
</head>
<body>
<h1>{{ message }}</h1>
<form action="/nutriLink/sign_up/" method="post">
    {% csrf_token %}
    <label for="Username"></label><input type="text" placeholder="Username" id="Username"><br>
    <label for="Email"></label><input type="email" placeholder="E-mail" id="Email"><br>
    <label for="Password"></label><input type="password" placeholder="Password" id="Password"><br>
    <label for="CPassword"></label><input type="password" placeholder="Confirm Password" id="CPassword"><br>
    <input type="submit" value="Create Account" id="Create">
</form>

</body>
</html>