{% extends 'nutriLink/base.html' %}

{% block title %} Profil {% endblock %}

{% block content %}
    
    <div class="mt-6 px-6 py-6 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Moje przepisy</h2>

        <div class="grid grid-cols-3 gap-3">
{#            {% if recipes.exists %}#}
{#                <h2 class="mb-12 font-semibold text-2xl text-center">Nie masz jeszcze żadnych przepisów!</h2>#}
{#            {% endif %}#}
            {% for item in recipes %}
                <div>
                    <a href="{% url 'nutriLink:recipe' item.id %}">
                        <div class="p-6 bg-white rounded-t-xl">
                            <h2 class="text-2xl">{{ item.recipe_name }}</h2>
                        </div>
                        <div>
                            <img src="{{ item.picture.url }}" class="rounded-t-xl" width="500px">
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}